    .qiang{background:url(/Images/pas4.jpg) no-repeat;width:150px;height:30px;float:left;}
    .zhong{background:url(/Images/pas3.jpg) no-repeat;width:150px;height:30px;float:left;}
    .ruo{background:url(/Images/pas2.jpg) no-repeat;width:150px;height:30px;float:left;}
    .ruox{background:url(/Images/pas1.jpg) no-repeat;width:150px;height:30px;float:left;}

/*头部栏*/
a{text-decoration: none;color: #042780;}
a:hover{text-decoration: none;color: #336bf9;}
.ResterText
{
    margin:10px 0 0;
    color:#767779;
    height:2.5em;line-height:2.5;
    border:solid 1px #ccd0d3;
    background:#e6e8ea;
    padding:5px;
    font-size:12px;
}
.MainTable
{
    background-color:#e6e8ea;
}
/*注册信息栏*/
.MainTitle
{
   font-weight:bold;
   margin-top:40px;
   font-size:20px;
   margin-left:230px;
}
.username, .password,.password2,.txtemail,.studentId,.txtnum 
{ width: 215px; padding: 5px; border: 1px solid #ccc;}
.tableText{background-color:#e6e8ea;margin-left:230px;}
/*页尾信息*/
.PageText{margin-left:150px;}
